# Анализ данных на Python

## Библиотека `Pandas`
#### <i>Малкова Ксения, Преподаватель ФКН НИУ ВШЭ, kemalkova@hse.ru</i>

### Практика

### Этап 1. Разминка

0. Считайте датафрейм по этой ссылке: 
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv

(используйте библиотеку `Pandas`)

In [6]:
# ваш код
import pandas as pd
# data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')
pd.read_csv("data/student-mat.csv")

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

1. Выведите 10 первых наблюдений

In [ ]:
# ваш код

2. Выведите 15 последних наблюдений

In [ ]:
# ваш код

3. Выведите количество ячеек в датафрейме

In [ ]:
# ваш код

4. Выведите названия столбцов датафрейма

In [ ]:
# ваш код

5. Выведите общую информацию о датафрейме

In [ ]:
# ваш код

6. Выведите сумму строк и стобцов датафрейма, умноженную на 2

In [ ]:
# ваш код

### Этап 2. Приступаем к работе

1. Переименуйте один столбец в данных (на ваше усмотрение)

In [ ]:
# ваш код

2. Выведите наблюдения со 145 по 189 строку (по всем столбцам)

In [ ]:
# ваш код

3. Выведите каждое третье наблюдение со 184 по 421 строку (по всем столбцам)

In [ ]:
# ваш код

4. Выведите каждое четвёртое наблюдение с 241 по 431 строку по столбцу `Age` (если вы его переименовали, используйте своё название)

In [ ]:
# ваш код

### Этап 3. Фильтрация

1. Выведите только мужчин

In [ ]:
# ваш код

2. Выведите только мужчин в возрасте от 25 до 75 лет

In [ ]:
# ваш код

3. Выведите только мужчин в возрасте от 25 до 75 лет, которые купили билеты в первый или второй класс

In [ ]:
# ваш код

4. Выведите только мужчин в возрасте от 25 до 75 лет, которые купили билеты в первый или второй класс, севшие в порту Cherbourg(С)

In [ ]:
# ваш код

### Этап 4. Сортировка

1. Отсортируйте данные по возрасту

In [ ]:
# ваш код

2. Отсортируйте данные по возрасту по убыванию

In [ ]:
# ваш код

3. Отсортируйте данные сперва по возрасту (по убыванию), потом по классу пассажира (по возрастанию)

In [ ]:
# ваш код

4. Удалите дубликаты по переменной `Age`

In [ ]:
# ваш код