# **–°–µ–º–∏–Ω–∞—Ä 4. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞**

#### <i>–ú–∞–ª–∫–æ–≤–∞ –ö—Å–µ–Ω–∏—è, –ü—Ä–µ–ø–æ–¥–∞–≤–∞—Ç–µ–ª—å –§–ö–ù –ù–ò–£ –í–®–≠</i>

–ù–∞ –¥–∞–Ω–Ω–æ–º —Å–µ–º–∏–Ω–∞—Ä–µ –º—ã –ø–æ–∑–Ω–∞–∫–æ–º–∏–º—Å—è —Å **–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–æ–π** –¥–∞–Ω–Ω—ã—Ö. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ–±—ä–µ–¥–∏–Ω—è—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º –∏ –ø—Ä–∏–º–µ–Ω—è—Ç—å –∫ –Ω–∏–º —Ä–∞–∑–ª–∏—á–Ω—ã–µ **–∞–≥—Ä–µ–≥–∏—Ä—É—é—â–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏**. 

–ü—Ä–µ–¥—Å—Ç–∞–≤—å—Ç–µ, —á—Ç–æ –º—ã –ø—Ä–æ–≤–µ–ª–∏ –æ–Ω–ª–∞–π–Ω-–æ–ø—Ä–æ—Å —Å—Ä–µ–¥–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–æ –æ—Ü–µ–Ω–∫–µ –∫–∞—á–µ—Å—Ç–≤–∞ –∫–æ–Ω—Ç–µ–Ω—Ç–∞. –¢–µ–ø–µ—Ä—å –º—ã —Ö–æ—Ç–∏–º —É–∑–Ω–∞—Ç—å, *–∫–∞–∫ –æ—Ü–µ–Ω–∫–∏ —Ä–∞–∑–ª–∏—á–∞—é—Ç—Å—è –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–Ω—ã–º –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º*. –° –ø–æ–º–æ—â—å—é **–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏** –¥–∞–Ω–Ω—ã—Ö –º—ã –º–æ–∂–µ–º *—Ä–∞–∑–¥–µ–ª–∏—Ç—å –æ—Ç–≤–µ—Ç—ã –Ω–∞ –≥—Ä—É–ø–ø—ã –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–º* –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å *—Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –æ—Ü–µ–Ω–∫–∏ –≤ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø–µ*. –ö—Ä–æ–º–µ —Ç–æ–≥–æ, –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã—è–≤–∏—Ç—å –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–µ –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–µ –æ—Ü–µ–Ω–∫–∏ –≤ –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏, –∞ —Ç–∞–∫–∂–µ –¥—Ä—É–≥–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏, —á—Ç–æ–±—ã –ª—É—á—à–µ –ø–æ–Ω—è—Ç—å, –∫–∞–∫ —Ä–∞–∑–Ω—ã–µ –≤–æ–∑—Ä–∞—Å—Ç–Ω—ã–µ –≥—Ä—É–ø–ø—ã —Ä–µ–∞–≥–∏—Ä—É—é—Ç –Ω–∞ –∫–æ–Ω—Ç–µ–Ω—Ç.

–ù–æ –æ–±–æ –≤—Å–µ–º - –ø–æ –ø–æ—Ä—è–¥–∫—É! ü§ó

–ú—ã –±—É–¥–µ–º —Ä–∞–±–æ—Ç–∞—Ç—å —Å –ø—Ä–∏–≤—ã—á–Ω—ã–º –¥–∞—Ç–∞—Å–µ—Ç–æ–º `Titanics.csv`, –∏ –¥–ª—è –Ω–∞—á–∞–ª–∞, —Ç–∞–∫–∂–µ –ø—Ä–∏–≤—ã—á–Ω—ã–º –æ–±—Ä–∞–∑–æ–º, –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º `pandas` –∏ –ø—Ä–æ—á–∏—Ç–∞–µ–º —Ç–∞–±–ª–∏—Ü—É.

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/aaparshina/FCI_22-23_data_analysis/main/data/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## **–ú–µ—Ç–æ–¥—ã –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö**

**–§—É–Ω–∫—Ü–∏—è –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏—è (–∞–≥–≥—Ä–µ–≥–∞—Ü–∏–∏)** - —ç—Ç–æ —Ñ—É–Ω–∫—Ü–∏—è, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –Ω–µ—Å–∫–æ–ª—å–∫–æ –æ—Ç–¥–µ–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –æ–¥–Ω–æ –æ–±–æ–±—â–µ–Ω–Ω–æ–µ (–∞–≥–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–Ω–æ–µ) –∑–Ω–∞—á–µ–Ω–∏–µ.

**–û—Å–Ω–æ–≤–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ –∞–≥–≥—Ä–µ–≥–∞—Ü–∏–∏**

|     | –û–ø–∏—Å–∞–Ω–∏–µ                                                 | –°–∏–Ω—Ç–∞–∫—Å–∏—Å –≤ pandas                     |
|-------------|----------------------------------------------------------|----------------------------------------|
| **–°—Ä–µ–¥–Ω–µ–µ**    | –í—ã—á–∏—Å–ª—è–µ—Ç —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≥—Ä—É–ø–ø—ã —á–∏—Å–µ–ª.                | `df['column_name'].mean()`            |
| **–°—É–º–º–∞**     | –°–∫–ª–∞–¥—ã–≤–∞–µ—Ç –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è –≥—Ä—É–ø–ø—ã —á–∏—Å–µ–ª.                        | `df['column_name'].sum()`             |
| **–ú–∏–Ω–∏–º—É–º**     | –ù–∞—Ö–æ–¥–∏—Ç –Ω–∞–∏–º–µ–Ω—å—à–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≥—Ä—É–ø–ø—ã —á–∏—Å–µ–ª.                   | `df['column_name'].min()`             |
| **–ú–∞–∫—Å–∏–º—É–º**     | –ù–∞—Ö–æ–¥–∏—Ç –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≥—Ä—É–ø–ø—ã —á–∏—Å–µ–ª.                   | `df['column_name'].max()`             |
| **–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ**   | –ü–æ–¥—Å—á–∏—Ç—ã–≤–∞–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ–ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –≥—Ä—É–ø–ø–µ —á–∏—Å–µ–ª.              | `df['column_name'].count()`           |
| **–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π** | –ü–æ–¥—Å—á–∏—Ç—ã–≤–∞–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –≥—Ä—É–ø–ø–µ.   | `df['column_name'].nunique()`         |

‚ùóÔ∏è–†–∞–∑–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ –∞–≥—Ä–µ–≥–∞—Ü–∏–∏ –ø—Ä–µ–¥–Ω–∞–∑–Ω–∞—á–µ–Ω—ã –¥–ª—è **—Ä–∞–∑–ª–∏—á–Ω—ã—Ö —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö**. –ü–æ—ç—Ç–æ–º—É –ø–µ—Ä–µ–¥ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º —Ç–æ–π –∏–ª–∏ –∏–Ω–æ–π —Ñ—É–Ω–∫—Ü–∏–∏ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ —É–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ –≤—ã–±—Ä–∞–Ω–Ω—ã–π –≤–∞–º–∏ –ø—Ä–∏–∑–Ω–∞–∫ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ–º—É —Ç–∏–ø—É –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è —ç—Ç–æ–π —Ñ—É–Ω–∫—Ü–∏–∏
- **–ß–∏—Å–ª–æ–≤—ã–µ –Ω–µ–ø—Ä–µ—Ä—ã–≤–Ω—ã–µ** –ø—Ä–∏–∑–Ω–∞–∫–∏ - `mean()`, `min()`, `max()`, `sum()`, `count()`
- **–ß–∏—Å–ª–æ–≤—ã–µ –¥–∏—Å–∫—Ä–µ—Ç–Ω—ã–µ** –ø—Ä–∏–∑–Ω–∞–∫–∏ - `mean()`, `min()`, `max()`, `sum()`, `count()`, `nunique()`
- **–ö–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ** (–Ω–æ–º–∏–Ω–∞–ª—å–Ω—ã–µ –∏ –ø–æ—Ä—è–¥–∫–æ–≤—ã–µ) –ø—Ä–∏–∑–Ω–∞–∫–∏ - `count()`, `nunique()`

In [2]:
# –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –Ω–∞—à–∏ –¥–∞–Ω–Ω—ã–µ
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### 1. **–°—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ** - `.mean()`
- –í—ã—á–∏—Å–ª—è–µ—Ç—Å—è –¥–ª—è **—á–∏—Å–ª–æ–≤—ã—Ö** (–∫–∞–∫ –Ω–µ–ø—Ä–µ—Ä—ã–≤–Ω—ã—Ö, —Ç–∞–∫ –∏ –¥–∏—Å–∫—Ä–µ—Ç–Ω—ã—Ö) –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [3]:
df['Fare'].mean()

np.float64(32.204207968574636)

### 2. **–°—É–º–º–∞** - `.sum()`
- –í—ã—á–∏—Å–ª—è–µ—Ç—Å—è –¥–ª—è **—á–∏—Å–ª–æ–≤—ã—Ö** (–∫–∞–∫ –Ω–µ–ø—Ä–µ—Ä—ã–≤–Ω—ã—Ö, —Ç–∞–∫ –∏ –¥–∏—Å–∫—Ä–µ—Ç–Ω—ã—Ö) –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [4]:
df['Fare'].sum()

np.float64(28693.9493)

### 3. **–ú–∏–Ω–∏–º—É–º –∏ –º–∞–∫—Å–∏–º—É–º** - `.min()` and `.max()`
- –í—ã—á–∏—Å–ª—è–µ—Ç—Å—è –¥–ª—è **—á–∏—Å–ª–æ–≤—ã—Ö** (–∫–∞–∫ –Ω–µ–ø—Ä–µ—Ä—ã–≤–Ω—ã—Ö, —Ç–∞–∫ –∏ –¥–∏—Å–∫—Ä–µ—Ç–Ω—ã—Ö) –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [5]:
df['Fare'].min()

np.float64(0.0)

In [6]:
df['Fare'].max()

np.float64(512.3292)

### 4. **–û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ** - `.count()`
- –í—ã—á–∏—Å–ª—è–µ—Ç—Å—è –¥–ª—è –ª—é–±—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
- –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ **–Ω–µ**–ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π

In [7]:
df['Cabin'].count()

np.int64(204)

In [8]:
df['Fare'].count()

np.int64(891)

### 5. **–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π** - `.nunique()`
- –í—ã—á–∏—Å–ª—è–µ—Ç—Å—è –¥–ª—è **—á–∏—Å–ª–æ–≤—ã—Ö –¥–∏—Å–∫—Ä–µ—Ç–Ω—ã—Ö** –∏ **–∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö** –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
- –ï—Å–ª–∏ –ø—Ä–∏–∑—É—Ç—Å—Ç–≤—É—é—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è - —Ç–∞–∫–∂–µ —Å—á–∏—Ç–∞—é—Ç—Å—è –∑–∞ —É–Ω–∏–∫–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –ø—Ä–∏–∑–Ω–∞–∫ —Å–æ–¥–µ—Ä–∂–∏—Ç —Ç—Ä–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ 'one', 'second' –∏ 'third', –Ω–æ –µ—Å—Ç—å –µ—â–µ –∏ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, `.nunique()` –≤–µ—Ä–Ω–µ—Ç 4.

–°–∞–º–∏ —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –º–æ–∂–Ω–æ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏ –∞–≥–≥—Ä–µ–≥–∞—Ü–∏–∏ `unique()`:

In [9]:
df['Pclass'].unique()

array([3, 1, 2])

–ò—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ (–¥–ª–∏–Ω–∞ –º–∞—Å—Å–∏–≤–∞, –≤–æ–∑–≤—Ä–∞—â–∞–µ–º–æ–≥–æ `unique()`) –∏ –æ—Ç–æ–±—Ä–∞–∂–∞–µ—Ç—Å—è –≤ `nunique()`:

In [10]:
df['Pclass'].nunique()

3

## **–ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö** `.groupby()`

–ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö —Å –ø–æ–º–æ—â—å—é `.groupby()` - –º–µ—Ç–æ–¥, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–∑–≤–æ–ª—è–µ—Ç **–æ–±—ä–µ–¥–∏–Ω–∏—Ç—å** –¥–∞–Ω–Ω—ã–µ –ø–æ –æ–¥–Ω–æ–º—É –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º –∏ –¥–∞–ª–µ–µ –≤—ã–ø–æ–ª–Ω–∏—Ç—å **–∞–≥–≥—Ä–µ–≥–∞—Ü–∏—é** –Ω–∞ —ç—Ç–∏—Ö –≥—Ä—É–ø–ø–∞—Ö (—Ñ—É–Ω–∫—Ü–∏—è–º–∏ –∞–≥—Ä–µ–≥–≥–∞—Ü–∏–∏, –æ –∫–æ—Ç–æ—Ä—ã—Ö –≥–æ–≤–æ—Ä–∏–ª–∏ –≤—ã—à–µ). 

–ü–æ —Å—É—Ç–∏, –º–µ—Ç–æ–¥ `.groupby()` —Ä–∞–∑–±–∏–≤–∞–µ—Ç –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –Ω–∞ –≥—Ä—É–ø–ø—ã –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –∑–Ω–∞—á–µ–Ω–∏–π –≤ –æ–¥–Ω–æ–º –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö. –ü–æ—Å–ª–µ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –ø–æ –∑–Ω–∞—á–µ–Ω–∏—è–º –º–æ–∂–Ω–æ –ø—Ä–∏–º–µ–Ω—è—Ç—å —Ä–∞–∑–ª–∏—á–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ –∞–≥—Ä–µ–≥–∞—Ü–∏–∏, —Ç–∞–∫–∏–µ –∫–∞–∫ `mean`, `sum`, `count` –∏ –¥—Ä—É–≥–∏–µ, –∫ –∫–∞–∂–¥–æ–π –∏–∑ –≥—Ä—É–ø–ø.

### 1. –ü—Ä–æ—Å—Ç–µ–π—à–∞—è –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞: –æ–¥–Ω–∞ —Ñ—É–Ω–∫—Ü–∏—è –∞–≥–≥—Ä–µ–≥–∞—Ü–∏–∏ –∏ –æ–¥–∏–Ω —Å—Ç–æ–ª–±–µ—Ü –∏–Ω—Ç–µ—Ä–µ—Å–∞

–î–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –ø—Ä–æ—Å—Ç–µ–π—à–µ–π –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –¥–∞–Ω–Ω—ã—Ö —Å –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–µ–º –æ–¥–Ω–æ–π —Ñ—É–Ω–∫—Ü–∏–∏ –∞–≥—Ä–µ–≥–∞—Ü–∏–∏ –≤ pandas –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è —Å–ª–µ–¥—É—é—â–∏–π —Å–∏–Ω—Ç–∞–∫—Å–∏—Å:

``` python
    –¥–∞—Ç–∞—Ñ—Ä–µ–π–º.groupby("—Å—Ç–æ–ª–±–µ—Ü –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏")["—Å—Ç–æ–ª–±–µ—Ü –∏–Ω—Ç–µ—Ä–µ—Å–∞"].–º–µ—Ç–æ–¥ –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏—è()
```

**–°—Ç–æ–ª–±–µ—Ü –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏** ‚Äî –ø—Ä–∏–∑–Ω–∞–∫, –ø–æ –∫–æ—Ç–æ—Ä–æ–º—É –º—ã —Ä–∞–∑–±–∏–≤–∞–µ–º –Ω–∞—à—É –∏–∑–Ω–∞—á–∞–ª—å–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ –≥—Ä—É–ø–ø (–∫–∞—Ç–µ–≥–æ—Ä–∏–π). –û–±—ã—á–Ω–æ —ç—Ç–æ *–∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ*, —Ç–∞–∫–∏–µ –∫–∞–∫ –ø–æ–ª, –≥–æ—Ä–æ–¥ –∏–ª–∏ –∫–ª–∞—Å—Å.

**–°—Ç–æ–ª–±–µ—Ü –∏–Ω—Ç–µ—Ä–µ—Å–∞** ‚Äî –ø—Ä–∏–∑–Ω–∞–∫, —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É –ø–æ –∫–æ—Ç–æ—Ä–æ–º—É –º—ã —Ö–æ—Ç–∏–º –ø–æ—Å—á–∏—Ç–∞—Ç—å –≤–Ω—É—Ç—Ä–∏ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã. –ü–æ–¥ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–æ–π –∑–¥–µ—Å—å –ø–æ–¥—Ä–∞–∑—É–º–µ–≤–∞–µ—Ç—Å—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ª—é–±–æ–π –∏–∑ —Ñ—É–Ω–∫—Ü–∏–π –∞–≥—Ä–µ–≥–∞—Ü–∏–∏, —Ç–∞–∫–∏—Ö –∫–∞–∫ —Å—Ä–µ–¥–Ω–µ–µ, —Å—É–º–º–∞ –∏–ª–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ. –≠—Ç–æ –º–æ–≥—É—Ç –±—ã—Ç—å –∫–∞–∫ *–∫–æ–ª–∏—á–µ—Å—Ç–≤–µ–Ω–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ* (–Ω–∞–ø—Ä–∏–º–µ—Ä, –≤–æ–∑—Ä–∞—Å—Ç –∏–ª–∏ –¥–æ—Ö–æ–¥), —Ç–∞–∫ –∏ *–∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ* (–Ω–∞–ø—Ä–∏–º–µ—Ä, –≤–∏–¥ –º–µ–¥–∞–ª–∏).

#### –ü—Ä–∏–º–µ—Ä

**–ó–∞–¥–∞—á–∞** - –Ω–∞–π—Ç–∏ —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –∑–∞ –±–∏–ª–µ—Ç –≤ —Ä–∞–∑–Ω—ã—Ö –ø–æ—Ä—Ç–∞—Ö. 

–í —Ç–∞–∫–æ–π —Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∫–µ:
- –°—Ç–æ–ª–±–µ—Ü –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ - –ø–æ—Ä—Ç (`Embarked`)
- –°—Ç–æ–ª–±–µ—Ü –∏–Ω—Ç–µ—Ä–µc–∞ - —Ü–µ–Ω–∞ –∑–∞ –±–∏–ª–µ—Ç (`Fare`)
- –§—É–Ω–∫—Ü–∏—è –∞–≥–≥—Ä–µ–≥–∞—Ü–∏–∏ (—Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞) - —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (`mean()`)

In [11]:
df.groupby("Embarked")["Fare"].mean()

Embarked
C    59.954144
Q    13.276030
S    27.079812
Name: Fare, dtype: float64

### 2. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞: –æ–¥–Ω–∞ —Ñ—É–Ω–∫—Ü–∏—è –∞–≥–≥—Ä–µ–≥–∞—Ü–∏–∏ –∏ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å—Ç–æ–ª–±—Ü–æ–≤ –∏–Ω—Ç–µ—Ä–µ—Å–∞

–ö–æ–≥–¥–∞ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø–æ–ª—É—á–∏—Ç—å –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–ª—è **–Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–æ–≤ –∏–Ω—Ç–µ—Ä–µ—Å–∞**, —Å–∏–Ω—Ç–∞–∫—Å–∏—Å –±—É–¥–µ—Ç –≤—ã–≥–ª—è–¥–µ—Ç—å —Ç–∞–∫:

``` python
    –¥–∞—Ç–∞—Ñ—Ä–µ–π–º.groupby("—Å—Ç–æ–ª–±–µ—Ü –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏")[["—Å—Ç. –∏–Ω—Ç–µ—Ä–µ—Å–∞ 1", "—Å—Ç. –∏–Ω—Ç–µ—Ä–µ—Å–∞ 2", ...]].–º–µ—Ç–æ–¥ –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏—è()
```

#### –ü—Ä–∏–º–µ—Ä
**–ó–∞–¥–∞—á–∞** - –Ω–∞–π—Ç–∏ —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –∑–∞ –±–∏–ª–µ—Ç –∏ —Å—Ä–µ–¥–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç –ª—é–¥–µ–π –≤ —Ä–∞–∑–Ω—ã—Ö –ø–æ—Ä—Ç–∞—Ö.

–í —Ç–∞–∫–æ–π —Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∫–µ:
- –°—Ç–æ–ª–±–µ—Ü –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ - –ø–æ—Ä—Ç (`Embarked`)
- –°—Ç–æ–ª–±—Ü—ã –∏–Ω—Ç–µ—Ä–µc–∞ - —Ü–µ–Ω–∞ –∑–∞ –±–∏–ª–µ—Ç (`Fare`) –∏ –≤–æ–∑—Ä–∞—Å—Ç –ª—é–¥–µ–π (`Age`)
- –§—É–Ω–∫—Ü–∏—è –∞–≥–≥—Ä–µ–≥–∞—Ü–∏–∏ (—Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞) - —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (`mean()`)

In [12]:
df.groupby('Embarked')[['Fare', 'Age']].mean()

               Fare        Age
Embarked
C         59.954144  30.814769
Q         13.276030  28.089286
S         27.079812  29.445397

### 3. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞: –Ω–µ—Å–∫–æ–ª—å–∫–æ —Ñ—É–Ω–∫—Ü–∏–π –∞–≥–≥—Ä–µ–≥–∞—Ü–∏–∏

–í pandas —Ç–∞–∫–∂–µ –º–æ–∂–Ω–æ –ø—Ä–∏–º–µ–Ω—è—Ç—å *–Ω–µ—Å–∫–æ–ª—å–∫–æ –º–µ—Ç–æ–¥–æ–≤ –∞–≥—Ä–µ–≥–∞—Ü–∏–∏* –æ–¥–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–æ –¥–ª—è –æ–¥–Ω–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ –∏–Ω—Ç–µ—Ä–µ—Å–∞:

``` python
    –¥–∞—Ç–∞—Ñ—Ä–µ–π–º.groupby("—Å—Ç. –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏")["—Å—Ç. –∏–Ω—Ç–µ—Ä–µ—Å–∞"].agg(["–º–µ—Ç–æ–¥ 1", "–º–µ—Ç–æ–¥ 2", ...])
```

#### –ü—Ä–∏–º–µ—Ä
**–ó–∞–¥–∞—á–∞** - –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ—Ä—Ç–∞ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å —Å—Ä–µ–¥–Ω—é—é —Ü–µ–Ω—É –∑–∞ –±–∏–ª–µ—Ç –∏ –æ–±—â—É—é —Å—Ç–æ–∏–º–æ—Å—Ç—å –±–∏–ª–µ—Ç–æ–≤ —Å—Ä–µ–¥–∏ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤.

–í —Ç–∞–∫–æ–π —Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∫–µ:
- –°—Ç–æ–ª–±–µ—Ü –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ - –ø–æ—Ä—Ç (`Embarked`)
- –°—Ç–æ–ª–±–µ—Ü –∏–Ω—Ç–µ—Ä–µc–∞ - —Ü–µ–Ω–∞ –∑–∞ –±–∏–ª–µ—Ç (`Fare`)
- –§—É–Ω–∫—Ü–∏–∏ –∞–≥–≥—Ä–µ–≥–∞—Ü–∏–∏ (—Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏) - —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (`mean()`) –∏ —Å—É–º–º–∞ (`sum()`)

In [13]:
df.groupby("Embarked")["Fare"].agg(['mean', 'sum'])

               mean         sum
Embarked
C         59.954144  10072.2962
Q         13.276030   1022.2543
S         27.079812  17439.3988

# –ü—Ä–∏–º–µ—Ä –∑–∞–¥–∞–Ω–∏—è –∏–∑ –ù–≠

–¢–∏–ø - [**C3**](https://edu.hse.ru/course/view.php?id=198011#section-6)

**–ó–∞–¥–∞–Ω–∏–µ**

>*–ü–æ—Å—Ç—Ä–æ–π—Ç–µ —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É, –≥–¥–µ –ø–æ —Å—Ç—Ä–æ–∫–∞–º —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–ø–∞–ª–µ–Ω (**bedrooms**), –∞ –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º ‚Äî —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∂–∏–ª–æ–π –ø–ª–æ—â–∞–¥–∏ (**sqft_living**) –∏ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –æ–±—â–µ–π –ø–ª–æ—â–∞–¥–∏ (**sqft_lot**) –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å–ø–∞–ª–µ–Ω. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ, —Å–∫–æ–ª—å–∫–æ —Å–ø–∞–ª–µ–Ω –≤ –¥–æ–º–∞—Ö, –≥–¥–µ –¥–æ–ª—è –∂–∏–ª–æ–π –ø–ª–æ—â–∞–¥–∏ –æ—Ç –æ–±—â–µ–π –Ω–∞–∏–±–æ–ª—å—à–∞—è (**sqft_living**/**sqft_lot**). –û—Ç–≤–µ—Ç –æ–∫—Ä—É–≥–ª–∏—Ç–µ –¥–æ –¥–≤—É—Ö –∑–Ω–∞–∫–æ–≤.*

**–†–µ—à–µ–Ω–∏–µ**
1. **–ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞** - –æ–ø—Ä–µ–¥–µ–ª—è–µ–º, —á—Ç–æ —Ç–∞–∫–æ–µ —Å—Ç–æ–ª–±–µ—Ü (-—Ü—ã) –∏–Ω—Ç–µ—Ä–µ—Å–∞, —Å—Ç–æ–ª–±–µ—Ü –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –∏ —Ñ—É–Ω–∫—Ü–∏—è –∞–≥–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏—è:
    - *–°—Ç–æ–ª–±–µ—Ü –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏* - —Ç–æ, —á—Ç–æ —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–æ –ø–æ —Å—Ç—Ä–æ–∫–∞–º, —Ç.–µ. –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–ø–∞–ª–µ–Ω (**bedrooms**). –≠—Ç–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ (–≥—Ä—É–ø–ø—ã),  –≤–Ω—É—Ç—Ä–∏ –∫–æ—Ç–æ—Ä—ã—Ö –±—É–¥–µ–º —Å—á–∏—Ç–∞—Ç—å –∫–∞–∫—É—é-—Ç–æ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞
    - *–°—Ç–æ–ª–±—Ü—ã –∏–Ω—Ç–µ—Ä–µ—Å–∞* - —Ç–æ, —á—Ç–æ —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–æ –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º, —Ç.–µ. –∂–∏–ª–∞—è –ø–ª–æ—â–∞–¥—å (**sqft_living**) –∏ –æ–±—â–∞—è –ø–ª–æ—â–∞–¥—å (**sqft_lot**)
    - *–§—É–Ω–∫—Ü–∏—è –∞–≥–≥—Ä–µ–≥–∞—Ü–∏–∏* - —Å—Ä–µ–¥–Ω–µ–µ (`.mean()`)
    
    –°–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É —Å–æ—Ö—Ä–∞–Ω—è–µ–º –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é (–Ω–µ –ø–µ—Ä–µ–æ–ø—Ä–µ–¥–µ–ª—è–µ–º –∏–∑–Ω–∞—á–∞–ª—å–Ω—É—é —Ç–∞–±–ª–∏—Ü—É!), —Ç.–∫. –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –Ω–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Å–æ–∑–¥–∞—Ç—å –≤ –Ω–µ–π –Ω–æ–≤—ã–π –ø—Ä–∏–∑–Ω–∞–∫
2. **–°–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤–æ–≥–æ –ø—Ä–∏–∑–Ω–∞–∫–∞** - –≤ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ –∏–∑ –ø.1 –Ω–∞—Ö–æ–¥–∏–º –¥–æ–ª—é –∂–∏–ª–æ–π –ø–ª–æ—â–∞–¥–∏ –æ—Ç –æ–±—â–µ–π –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã (–¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å–ø–∞–ª–µ–Ω **bedrooms**). –≠—Ç–æ –±—É–¥–µ—Ç –Ω–æ–≤—ã–π –ø—Ä–∏–∑–Ω–∞–∫ (–Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü) –≤ —Å–≥—Ä–µ–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ - –Ω–∞–∑—ã–≤–∞–µ–º –∫–∞–∫ —É–≥–æ–¥–Ω–æ (—Ç–æ–ª—å–∫–æ –Ω–µ –ø–µ—Ä–µ–æ–ø—Ä–µ–¥–µ–ª—è–µ–º —Å—É—â–µ—Å—Ç–≤—É—é—â–∏–µ —Å—Ç–æ–ª–±—Ü—ã)
3. **–°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞** - —Å–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ —É–±—ã–≤–∞–Ω–∏—é (`ascending=False`) —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –∏–∑ –ø.2 –Ω–æ–≤–æ–º—É –ø—Ä–∏–∑–Ω–∞–∫—É –∏ –≤—ã—Ç–∞—Å–∫–∏–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–ø–∞–ª–µ–Ω –∏–∑ –ø–µ—Ä–≤–æ–π —Å—Ç—Ä–æ—á–∫–∏. –≠—Ç–æ –∏ –µ—Å—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–ø–∞–ª–µ–Ω, –≥–¥–µ –¥–æ–ª—è –∂–∏–ª–æ–π –ø–ª–æ—â–∞–¥–∏ –æ—Ç –æ–±—â–µ–π –Ω–∞–∏–±–æ–ª—å—à–∞—è

In [1]:
import pandas as pd

# 0. –ß–∏—Ç–∞–µ–º —Ç–∞–±–ª–∏—Ü—É 
data = pd.read_csv('train2_C.csv')

# 1. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞
data_grouped = data.groupby('bedrooms')[['sqft_living', 'sqft_lot']].mean()

# 2. –°–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤–æ–≥–æ –ø—Ä–∏–∑–Ω–∞–∫–∞
data_grouped['sqft_frac'] = data_grouped['sqft_living'] / data_grouped['sqft_lot']

# 3. –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞
data_grouped.sort_values('sqft_frac', ascending=False)

          sqft_living      sqft_lot  sqft_frac
bedrooms
9         3775.000000   5480.000000   0.688869
11        3000.000000   4960.000000   0.604839
8         3800.000000   8971.615385   0.423558
10        3706.666667   8859.666667   0.418375
33        1620.000000   6000.000000   0.270000
7         3974.210526  20840.552632   0.190696
5         3047.545284  16769.022486   0.181737
6         3284.341912  18586.930147   0.176702
4         2554.649666  16720.793374   0.152783
3         1805.837235  14414.790208   0.125277
2         1239.752899  12096.726087   0.102487
0         1707.846154  24141.307692   0.070744
1          884.613065  16285.673367   0.054318

**–û—Ç–≤–µ—Ç:** 9